:root{
    --background: #111923;
    --text-primary: white;
    --text-hover: #0f2a44;
    --primary-hover: #1173d4;
    --icon-primary: #1173d4;
}

body{
    background-color: var(--background);
    color: var(--text-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1b2431;
}

nav{
    padding: 10px;
    align-items: center;
    display: flex;

    a{
    color: var(--text-primary);
    text-decoration: none;
    margin-left: 15px;
        &:hover{
        color: var(--primary-hover);
        align-items: center;
    }   

    }
}

header div a{
    text-decoration: none;
    color: var(--primary-hover);
    background-color: var(--text-hover);
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    &:hover{
        text-decoration: none;
        background-color: var(--primary-hover);
        color: var(--text-hover);
        padding: 8px;
        border-radius: 10px;
    }
}


svg{
    background-image: red;
    stroke: var(--icon-primary);
}

.search-job{
    text-align: center;
}

main > section:nth-child(1){
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 80%);
    }
}

input{
    height: 24px;
    width: 80%;
    background-color: #18212d;
    border: 1px solid #111822;
    border-radius: 10px;
}

select{
    color: var(--text-primary);
    background-color: #242d3a;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
}

